.btn {
    border-radius: 18px;
}

.btn + .btn {
    margin-left: 15px;
}

.btn:hover{
    background-color: #0a9893;
    box-shadow: 0 4px #666;

   
}

.option {
    background-color: #1dd0d3;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}

.option label {
    cursor: pointer;
    display: block;
    padding: 15px;
}

#quiz .options input[type=checkbox] {
    height: 24px;
    margin-right: 5px;
    width: 22px;
}

.cursor-pointer {
    cursor: pointer;
}
/* result end after submit */
.result-question {
    background-color: rgb(229, 236, 236);
    margin: 5px;
    padding: 5px;
}

/* Create Quiz Styles */
.create-quiz .question {
    text-align: left;
}

.create-quiz input[type=text] {
    border: 1px solid #ddd;
    width: 95%;
}

.create-quiz .tb-quiz-name {
    background-color: #ccffcc;
    text-align: center;
}

.create-quiz .tb-desc {
    background-color: rgb(228, 245, 244);
}

.create-quiz .options > div {
    margin-left: 20px;
}

.create-quiz .options input[type=checkbox] {
    border: 1px solid #4e4949;
    display: inline-block;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    width: 20px;
}

@media only screen and (max-width: 480px) {
    h1, .h1 {
        font-size: 22px;
    }

    h2, .h2 {
        font-size: 20px;
    }

    h3, .h3 {
        font-size: 18px;
    }

    .option {
        font-size: 16px;
        padding: 6px;
    }
}
